/*
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/

:root {
  --branding-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: black;
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

p,
h2,
a {
  font-family: var(--default-font-family);
  font-weight: normal;
}

h3 {
  font-size: 64px;
}

.hero {
  background: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-weight: bold;
  font-size: 36px;
}

.hero h2 {
  font-weight: 400;
  font-size: 24px;
}

.btn-branding {
  background: var(--secondary-color);
  color: white;
  padding: 18px 40px;
}

.btn-branding:hover {
  text-decoration: none;
  color: black;
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.project-description {
  padding: 120px 60px;
}

.project-description p {
  opacity: 0.7;
  line-height: 30px;
}

.btn-branding-outline {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 18px 40px;
}

.btn-branding-outline:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  text-decoration: underline;
}

.about-hero {
  padding: 150px;
}

.about-hero h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-hero h2 {
  font-size: 18px;
}

.about-hero p {
  opacity: 0.7;
}

@media (max-width: 990px) {
  h1,
  .about-hero h1 {
    font-size: 45px;
    line-height: 1.2;
  }

  h3 {
    font-size: 40px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero p {
    margin-bottom: 0;
  }
  .hero h2 {
    font-size: 18px;
    padding-top: 10px;
  }
  .project-description {
    text-align: center;
    padding: 0;
  }

  .project-description p {
    line-height: 1.5;
  }

  .about-hero {
    margin-top: 30px;
    padding: 30px;
  }
  .about-hero-content {
    text-align: center;
  }

  .about-hero img {
    display: block;
    margin: 0 auto;
  }
}

@media (width < 1200px) {
  .project-description {
    padding: 0;
  }
}
